@page "/"
@using MachinePark.Data
@using Services
@inject MachineService MachineService

<PageTitle>Machines</PageTitle>

<h1>Machines list</h1>

@if (machines == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in machines)
            {
                <MachineRow Machine="machine" />
            }
        </tbody>
    </table>
}

@code {
    private List<Machine>? machines;

    protected override async Task OnInitializedAsync()
    {
        machines = await MachineService.GetMachinesAsync();
    }
}

