@page "/"
@using MachinePark.Data
@using Services
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Machines</PageTitle>

<h1>Machines list</h1>

@if (machines == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table mt-5 mb-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Data</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in machines)
            {
                <MachineRow Machine="machine" />
            }
        </tbody>
    </table>

    <MachineStats Machines="machines"/>
}

@code {
    private List<Machine>? machines;

    protected override async Task OnInitializedAsync()
    {
        machines = await HttpClient.GetFromJsonAsync<List<Machine>>(NavigationManager.BaseUri + "machines");
        // machines = await MachineService.GetMachinesAsync();
    }
}

