@using MachinePark.Shared.Models

<h3>Machine Stats</h3>
@if (Machines != null)
{
    <p>Total number of machines: @Machines.Count</p>
}

@code {
    [Parameter]
    public List<Machine>? Machines { get; set; } = new();
}
