@using MachinePark.Data
@using Services

<tr>
    <td>@Machine.Id</td>
    <td>@Machine.Name</td>
    <td>@Machine.Data</td>
    <td>@Machine.Status</td>
    <td>
        <button class="btn btn-outline-primary" @onclick="SendData">Send</button>
        @if (Machine.Status == "Offline")
        {
            <button class="btn btn-outline-success" @onclick="() => StartMachine(Machine.Id)">Start</button>
        } else
        {
            <button class="btn btn-outline-warning" @onclick="() => StopMachine(Machine.Id)">Stop</button>  
        }
        <button class="btn btn-outline-danger" @onclick="DeleteMachine">Delete</button>
    </td>
</tr>

@code {
    [Parameter]
    public Machine Machine { get; set; } = new();

    private void SendData()
    {
        // Handle editing
    }

    private void DeleteMachine()
    {
        // Handle deletion
    }

    private void StartMachine(Guid id)
    {
        if (id == Machine.Id)
        {
            Machine.Status = "Online";
        }
      
    }

    private void StopMachine(Guid id)
    {
        if (id == Machine.Id)
        {
            Machine.Status = "Offline";
        }
    }
}
