@page "/"
@using MachinePark.Shared.Models;
@using MachinePark.Shared.Services
@inject MachineService MachineService

<PageTitle>Machines</PageTitle>

<h1>Machines list</h1>

@if (MachineService.Machines == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table mt-5 mb-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Data</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in MachineService.Machines)
            {
                <MachineRow Machine="machine" />
            }
        </tbody>
    </table>

    <MachineStats Machines="machines"/>
}

@code {
    private List<Machine>? machines;

    protected override async Task OnInitializedAsync()
    {
        await MachineService.LoadMachinesAsync();
    }
}

